<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="username" value="kevin.brill@gmail.com" />
		<add key="password" value="r1ftg@m3###" />
		<add key="guildId" value="219691219334217446" />
		<add key="characterId" value="218846794414042822" />
	</appSettings>
</configuration>